/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family:'Sintony';
  src:url("font/Sintony-Regular.eot?#iefix") format("embedded-opentype"),url("font/Sintony-Regular.svg") format("svg"),url("font/Sintony-Regular.woff") format("woff"),url("font/Sintony-Regular.ttf") format("truetype");
  font-weight:400;
  font-style:normal
}

@font-face{
  font-family:'Sintony';
  src:url("font/Sintony-Bold.eot?#iefix") format("embedded-opentype"),url("font/Sintony-Bold.svg") format("svg"),url("font/Sintony-Bold.woff") format("woff"),url("font/Sintony-Bold.ttf") format("truetype");
  font-weight:700;
  font-style:normal
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

html, body { height: 100%; }

body {
  background-color: #faf7f9;
  font-family: "Sintony", sans-serif;
  line-height: 1.5;
  font-size: 1.4em;
  text-align: center;
  color: #2a2a2a;
}

h1, h3, h4, h5, h6 {
  font-size: 100%; }

h2 { font-size: 110%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #000080; }
a:hover   { color: #000; }
a:visited { color: #000080; }

.title a         { color: #d72008; }
.title a:visited { color: #d72008; }

.icons a         { color: #2a2a2a; }
.icons a:hover   { color: #2a2a2a; }
.icons a:visited { color: #2a2a2a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: "Sintony", sans-serif;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  width: 42em;
  margin: 1em auto 2em;
  line-height: 1.5em;
}

.site .header {
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;
  padding-bottom: 0.25em;
  font-size: 150%;
}

.site .header h1 {
  margin-bottom: 0px;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .meta {
  color: #aaa;
  font-size: 80%;
}

.site .footer {
  font-size: 80%;
  color: #666;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  font-size: 18px;
  line-height: 1.5;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #efeff5;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #efeff5;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
